In [4]:
import pandas as pd

In [5]:
disExcel = pd.read_excel("childdata.xlsx", sheetname = "child data")
disExcel.columns

Index([u'Household #', u'Family #', u'H-F', u'Sex', u'Race', u'Age',
       u'Birth Weight (oz)', u'Intellectual Disability', u'ADDADHD',
       u'Autism Spectrum', u'Downs Syndrome', u'Cerebal Palsy',
       u'Seizures (12 mos)', u'Learning Disability', u'Family Income',
       u'FPL Ratio', u'NEWFPLRATIO - Amelia'],
      dtype='object')

In [6]:
disExcel

,Household #,Family #,H-F,Sex,Race,Age,Birth Weight (oz),Intellectual Disability,ADDADHD,Autism Spectrum,Downs Syndrome,Cerebal Palsy,Seizures (12 mos),Learning Disability,Family Income,FPL Ratio,NEWFPLRATIO - Amelia
0,95,1,000095-01,2,1,6,115,NaN,2,2,2,2,NaN,2,1,1,1
1,189,1,000189-01,1,1,4,96,NaN,2,2,2,2,NaN,2,1,1,1
2,487,1,000487-01,2,2,10,104,NaN,2,2,2,2,NaN,2,1,1,1
3,544,1,000544-01,1,2,9,99,NaN,2,2,2,2,NaN,1,1,1,1
4,836,1,000836-01,1,1,8,99,NaN,2,2,2,2,NaN,1,1,1,1
5,899,1,000899-01,1,1,0,93,2,NaN,NaN,2,2,2,NaN,1,1,1
6,1082,1,001082-01,1,16,5,124,NaN,2,2,2,2,NaN,2,1,1,1
7,1165,1,001165-01,2,1,7,115,NaN,2,2,2,2,NaN,2,1,1,1
8,1192,1,001192-01,2,2,7,123,NaN,2,2,2,2,NaN,2,1,1,1
9,1481,1,001481-01,1,1,2,131,NaN,2,2,2,2,2,NaN,1,1,1
10,1528,1,001528-01,2,2,3,123,NaN,2,2,2,2,NaN,2,1,1,1
11,1547,1,001547-01,1,1,4,104,NaN,2,2,2,2,NaN,2,1,1,1
12,1547,2,001547-02,1,1,7,77,NaN,2,2,2,2,NaN,2,1,1,1
13,1682,1,001682-01,2,1,0,102,2,NaN,NaN,2,2,2,NaN,1,1,1
14,1909,1,001909-01,2,1,2,121,NaN,2,2,2,2,1,NaN,1,1,1
15,1910,1,001910-01,2,1,1,110,2,NaN,NaN,2,2,2,NaN,1,1,1
16,1946,1,001946-01,2,2,15,141,NaN,2,2,2,2,NaN,1,1,1,1
17,2038,1,002038-01,2,1,17,104,NaN,2,2,2,2,NaN,2,1,1,1
18,2190,1,002190-01,2,3,12,114,NaN,2,2,2,2,NaN,2,1,1,1
19,2208,1,002208-01,2,1,3,110,NaN,2,2,2,2,NaN,2,1,1,1
20,2418,1,002418-01,2,1,5,89,NaN,2,2,2,2,NaN,1,1,1,1
21,2446,1,002446-01,2,1,17,38,NaN,2,2,2,2,NaN,2,1,1,1
22,2480,1,002480-01,1,1,10,118,NaN,2,2,2,2,NaN,2,1,1,1
23,2688,1,002688-01,2,1,4,96,NaN,2,2,2,2,NaN,2,1,1,1
24,2692,1,002692-01,2,15,4,145,NaN,2,2,2,2,NaN,2,1,1,1
25,2755,1,002755-01,1,1,12,999,NaN,1,2,2,2,NaN,1,1,1,1
26,2826,1,002826-01,2,1,3,139,NaN,2,2,2,2,NaN,2,1,1,1
27,2866,1,002866-01,1,3,10,998,NaN,2,2,2,2,NaN,2,1,1,1
28,2882,1,002882-01,1,1,4,112,NaN,2,2,2,2,NaN,2,1,1,1
29,2941,1,002941-01,2,2,16,997,NaN,2,2,2,2,NaN,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13350,82434,1,082434-01,2,1,1,999,2,NaN,NaN,2,2,2,NaN,99,99,NaN
13351,82455,1,082455-01,2,2,1,75,2,NaN,NaN,2,2,2,NaN,99,99,NaN
13352,82471,1,082471-01,1,1,6,118,NaN,2,1,2,2,NaN,2,99,99,NaN
13353,82628,1,082628-01,1,2,10,999,NaN,1,2,2,2,NaN,2,99,99,NaN
13354,82664,1,082664-01,1,1,13,110,NaN,2,2,2,2,NaN,2,99,99,NaN
13355,82679,1,082679-01,2,9,6,998,NaN,2,2,2,2,NaN,2,99,99,NaN
13356,82706,1,082706-01,2,1,11,999,NaN,2,2,2,2,NaN,2,99,99,NaN
13357,82902,1,082902-01,2,1,11,112,NaN,2,2,2,2,NaN,2,99,99,NaN
13358,83063,1,083063-01,1,1,8,999,NaN,2,2,2,2,NaN,2,99,99,NaN
13359,83122,1,083122-01,1,1,1,96,2,NaN,NaN,2,2,2,NaN,99,99,NaN
13360,83567,1,083567-01,1,1,10,98,NaN,2,2,2,2,NaN,2,99,99,NaN
13361,83818,1,083818-01,2,15,16,999,NaN,2,2,2,2,NaN,2,99,99,NaN
13362,83903,1,083903-01,1,1,9,120,NaN,2,2,2,2,NaN,2,99,99,NaN
13363,83927,1,083927-01,1,1,11,103,NaN,1,2,2,2,NaN,1,99,99,NaN
13364,84213,1,084213-01,1,2,5,98,NaN,2,2,2,2,NaN,2,99,99,NaN
13365,84244,1,084244-01,1,15,3,128,NaN,2,2,2,2,NaN,2,99,99,NaN
13366,84352,1,084352-01,2,1,17,128,NaN,2,2,2,2,NaN,2,99,99,NaN
13367,84393,1,084393-01,2,1,16,73,NaN,2,2,2,1,NaN,2,99,99,NaN
13368,84421,1,084421-01,2,1,12,998,NaN,2,2,2,2,NaN,2,99,99,NaN
13369,84633,1,084633-01,2,1,15,98,NaN,2,2,2,2,NaN,2,99,99,NaN
13370,84892,1,084892-01,2,1,8,118,NaN,2,2,2,2,NaN,2,99,99,NaN
13371,85121,1,085121-01,2,1,17,125,NaN,2,2,2,2,NaN,2,99,99,NaN
13372,85340,1,085340-01,2,2,5,999,NaN,2,2,2,2,NaN,2,99,99,NaN
13373,85541,1,085541-01,2,1,0,998,9,NaN,NaN,2,2,2,NaN,99,99,NaN
13374,85565,1,085565-01,2,3,2,96,NaN,2,2,2,2,2,NaN,99,99,NaN
13375,85779,1,085779-01,1,1,10,106,NaN,1,1,2,2,NaN,1,99,99,NaN
13376,85903,1,085903-01,1,2,14,151,NaN,2,2,2,2,NaN,2,99,99,NaN
13377,85930,1,085930-01,2,1,12,118,NaN,2,2,2,2,NaN,2,99,99,NaN
13378,85934,1,085934-01,1,1,3,123,NaN,2,2,2,2,NaN,2,99,99,NaN
13379,86329,1,086329-01,1,1,11,130,NaN,2,1,2,2,NaN,2,99,99,NaN

In [7]:
disExcel["ADDADHD"]

0         2
1         2
2         2
3         2
4         2
5       NaN
6         2
7         2
8         2
9         2
10        2
11        2
12        2
13      NaN
14        2
15      NaN
16        2
17        2
18        2
19        2
20        2
21        2
22        2
23        2
24        2
25        1
26        2
27        2
28        2
29        2
         ..
13350   NaN
13351   NaN
13352     2
13353     1
13354     2
13355     2
13356     2
13357     2
13358     2
13359   NaN
13360     2
13361     2
13362     2
13363     1
13364     2
13365     2
13366     2
13367     2
13368     2
13369     2
13370     2
13371     2
13372     2
13373   NaN
13374     2
13375     1
13376     2
13377     2
13378     2
13379     2
Name: ADDADHD, dtype: float64

In [8]:
disIncome = disExcel.groupby("NEWFPLRATIO - Amelia")

In [9]:
adhd_boys = disIncome.aggregate(lambda x : (x[(x["ADDADHD"] == 1) & (x["Sex"] ==1) ].count()))["ADDADHD"]

In [10]:
def get_disCount(col,sex,data):
    sex_indicator = 1 if sex == "boys" else 2
    grouped = data.groupby("FPL Ratio")
    series = grouped.aggregate(lambda x : (x[(x[col] == 1) & (x["Sex"] == sex_indicator) ].count()))["ADDADHD"]
    series.name = "".join(col.split()) + "_"+ sex
    return series

In [11]:
test = get_disCount("ADDADHD","boys",disExcel)
testv

FPL Ratio
1     55
2     44
3     47
4     41
5     38
6     33
7     41
8     58
9     39
10    35
11    20
12    32
13    24
14    89
15    29
16    20
17    20
96     4
99    12
Name: ADDADHD_boys, dtype: int64

In [174]:
disExcel.columns

Index([u'Household #', u'Family #', u'H-F', u'Sex', u'Race', u'Age',
       u'Birth Weight (oz)', u'Intellectual Disability', u'ADDADHD',
       u'Autism Spectrum', u'Downs Syndrome', u'Cerebal Palsy',
       u'Seizures (12 mos)', u'Learning Disability', u'Family Income',
       u'FPL Ratio'],
      dtype='object')

In [175]:
disabilites = ['ADDADHD','Autism Spectrum',"Learning Disability"]
disabilites_counted = [get_disCount(d,s,disExcel) for d in disabilites for s in ["boys","girls"]]
boys_count = disIncome.aggregate(lambda x : (x[(x["Sex"] ==1) ].count()))["Sex"]
boys_count.name = "boys"
girls_count = disIncome.aggregate(lambda x : (x[(x["Sex"] ==2) ].count()))["Sex"]
girls_count.name = "girls"

In [176]:
to_combine = disabilites_counted + [boys_count,girls_count]

In [177]:
final = pd.concat(to_combine, axis = 1)
care_about = ["pad","<0.5","0.5-0.74","0.75-0.99","1.0-1.24","1.25-1.49","1.5-1.74","1.75-1.99",
"2-2.49","2.50-2.99","3.00-3.49","3.50-3.99","4-4.49","4.50-4.99","5+","Doesn't","matter","nor","this"]
final = pd.concat([final,pd.Series(string_index, name = "real_index")], axis = 1)
final = final[1:15].set_index("real_index")
final

,ADDADHD_boys,ADDADHD_girls,AutismSpectrum_boys,AutismSpectrum_girls,LearningDisability_boys,LearningDisability_girls,boys,girls
real_index,,,,,,,,
<0.5,55,15,11,2,42,23,416,371
0.5-0.74,44,26,13,3,42,22,366,389
0.75-0.99,47,22,14,2,41,29,389,382
1.0-1.24,41,21,10,3,39,20,376,401
1.25-1.49,38,19,13,6,34,22,353,345
1.5-1.74,33,13,15,1,28,13,335,308
1.75-1.99,41,11,7,2,22,17,267,261
2-2.49,58,23,18,6,36,18,501,475
2.50-2.99,39,19,10,4,33,12,460,459
3.00-3.49,35,14,8,2,25,12,403,362
3.50-3.99,20,10,9,3,17,10,324,323
4-4.49,32,13,7,1,17,12,279,273
4.50-4.99,24,10,5,1,19,6,202,204
5+,89,40,28,10,57,31,1007,975

In [178]:
final.to_json("disabilites_by_sex.json",orient = "index")

In [179]:
final

,ADDADHD_boys,ADDADHD_girls,AutismSpectrum_boys,AutismSpectrum_girls,LearningDisability_boys,LearningDisability_girls,boys,girls
real_index,,,,,,,,
<0.5,55,15,11,2,42,23,416,371
0.5-0.74,44,26,13,3,42,22,366,389
0.75-0.99,47,22,14,2,41,29,389,382
1.0-1.24,41,21,10,3,39,20,376,401
1.25-1.49,38,19,13,6,34,22,353,345
1.5-1.74,33,13,15,1,28,13,335,308
1.75-1.99,41,11,7,2,22,17,267,261
2-2.49,58,23,18,6,36,18,501,475
2.50-2.99,39,19,10,4,33,12,460,459
3.00-3.49,35,14,8,2,25,12,403,362
3.50-3.99,20,10,9,3,17,10,324,323
4-4.49,32,13,7,1,17,12,279,273
4.50-4.99,24,10,5,1,19,6,202,204
5+,89,40,28,10,57,31,1007,975